<h1>About Us</h1>
<h1>Sudoku</h1>
<div id="board" class="board">
  <h2>Sorry</h2>
  <p>The generated puzzle was unsolvable.</p>
  <p>Please refresh if you want to try again</p>
</div>
<div class="instructions">
  <p>The goal of sudoku is to fill in all the cells.</p>
  <p>Each row, column and block must have the numbers 1-9 once.</p>
  <p style="font-size: .8em"><b>NB:</b> <i>'Easy'</i> Puzzles are more likely to be unsolvable.</p>
</div>