
<div class="jumbotron bg-warning">
  <h1 class="display-4 text-success font-weight-bold"><%= @output [0] ['AQI'] %></h1>
  <p class="lead">This is an Air Quality Index number [AQI]. The current reading is via Zip Code. It is currently reading the air quality for San Jose.</p>
  <hr class="my-4">
  <p>Hit the reload tab on the browser for a real time update.</p>

 <div class="media">
  <img src="assets/images/spider2.bmp" class="mr-3" alt="...">
  <div class="media-body">

  <a class="btn btn-secondary btn-lg" href="#" role="button">Learn more</a>
</div>

